<div class="fullmodule">

<h2>{{ module.name }}</h2>
<br/>


{% for modulep in user.modules if modulep.name == module.name %}

  <p>
    Vous êtes inscrit à ce module
  </p>
  <form method="post" {{ form_enctype(desinscription) }}>

    {{ form_widget(desinscription) }}
    {{form_rest(desinscription)}}

  </form>
  {% else %}

   <p>Vous n'êtes pas inscrit à ce module !</p>

  <form method="post" {{ form_enctype(inscription) }}>

    {{ form_widget(inscription) }}
    {{form_rest(inscription)}}

  </form>

{% endfor %}

<br/>
Débute le {{ module.datestart |date('Y-m-d') }},
finit le {{ module.dateend |date('Y-m-d') }}
<br/>
<br/>
  Description du module :
  <div class="mod_desc">
    {{ module.description }}
  </div>
  Compétences développées :
  <div class="mod_desc">
    {{ module.skills }}
  </div>

</div>
