<div id="menuadmin">
	<ul>
		<a href=" {{ path('admin_vueensemble') }} "><li>vue d'ensemble</li></a>
		<a href=" {{ path('admin_ticket') }} "><li>ticket</li></a>
		<a href=" {{ path('admin_user') }} "><li>Utilisateur</li></a>
		<a href=" {{ path('admin_module') }} "><li>Module</li></a>
		<a href=" {{ path('admin_activite') }} "><li>Activite</li></a>
	</ul>
</div>
